@media only screen and (max-width: 600px) {
    /* all teachers page */
    .allTeachersMainContainer{
        display: flex;
        flex-direction:column;
        gap:15px;
        position: relative;
    }
    
    .allTeachersPageTop{
        display:flex;
        flex-direction: column;
        gap:15px;
    }
    
    .allTeachersHeading{
        font-family:Montserrat;
        text-align:center;
        font-size:40px;
        padding:0px;
        margin:0px;
    }

    .allTeachersTeacherName{
        font-family:Montserrat;
        font-size:22px;
        padding:0px;
        margin:0px;
        text-decoration:none;
    }
    
    .allTeachersParentModal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300;
        background-color:white;
        border: 2px solid #000;
        box-shadow: 24;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:10px;
    }
    
    .allTeachersChildModal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        background-color: white;
        border: 2px solid #000;
        box-shadow: 24;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:20px;
    }
    
    /* single teacher page */
    .singleTeacherMainContainer{
        display: flex;
        flex-direction:column;
        gap:5px;
        /* place-self: center;
        place-items: center;
        place-content: center center; */
        position: relative;
    }

    .singleTeacherName{
        font-family:Montserrat;
        text-align:center;
        margin:0px;
        padding:0px;
        font-size:35px;
    }

    .formLabel{
        font-family:Montserrat;
        font-size:20px;
    }

    .letterDays{
        display:flex;
    }
    
    .singleTeacherModal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300;
        background-color: white;
        border: 2px solid #000;
        box-shadow: 24;
        display:flex;
        flex-direction:column;
        justify-content:center;
        gap:20px;
        padding:20px;
    }
    
    .updateSingleTeacherForm{
        display:flex;
        flex-direction:column;
        gap:20px;
        width:75%;
    }
    
    /* create teacher form */
    .createTeacherForm{
        display:flex;
        flex-direction:column;
        gap:10px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px){
    /* all teachers page */
    .allTeachersMainContainer{
        display: flex;
        flex-direction:column;
        gap:15px;
        position: relative;
    }
    
    .allTeachersPageTop{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    
    .allTeachersHeading{
        font-family:Montserrat;
        font-size:40px;
        padding:0px;
        margin:0px;
    }

    .allTeachersTeacherName{
        font-family:Montserrat;
        font-size:22px;
        padding:0px;
        margin:0px;
        text-decoration:none;
    }
    
    .allTeachersParentModal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400;
        background-color:white;
        border: 2px solid #000;
        box-shadow: 24;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:10px;
    }
    
    .allTeachersChildModal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        background-color: white;
        border: 2px solid #000;
        box-shadow: 24;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:20px;
    }
    
    /* single teacher page */
    .singleTeacherMainContainer{
        display: flex;
        flex-direction:column;
        /* place-self: center;
        place-items: center;
        place-content: center center; */
        position: relative;
    }

    .singleTeacherName{
        font-family:Montserrat;
        text-align:center;
        margin:0px;
        padding:0px;
        font-size:35px;
    }

    .formLabel{
        font-family:Montserrat;
        font-size:25px;
    }
    
    .singleTeacherModal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400;
        background-color: white;
        border: 2px solid #000;
        box-shadow: 24;
        display:flex;
        flex-direction:column;
        justify-content:center;
        gap:20px;
        padding:20px;
    }
    
    .updateSingleTeacherForm{
        display:flex;
        flex-direction:column;
        gap:20px;
        width:75%;
    }
    
    /* create teacher form */
    .createTeacherForm{
        display:flex;
        flex-direction:column;
        gap:10px;
    }
}

@media only screen and (min-width: 900px) {
    /* all teachers page */
    .allTeachersMainContainer{
        display: flex;
        flex-direction:column;
        gap:15px;
        position: relative;
    }
    
    .allTeachersPageTop{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    
    .allTeachersHeading{
        font-family:Montserrat;
        font-size:40px;
        padding:0px;
        margin:0px;
    }

    .allTeachersTeacherName{
        font-family:Montserrat;
        font-size:22px;
        padding:0px;
        margin:0px;
        text-decoration:none;
    }
    
    .allTeachersParentModal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400;
        background-color:white;
        border: 2px solid #000;
        box-shadow: 24;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:10px;
    }
    
    .allTeachersChildModal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        background-color: white;
        border: 2px solid #000;
        box-shadow: 24;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:20px;
    }
    
    /* single teacher page */
    .singleTeacherMainContainer{
        display: flex;
        flex-direction:column;
        gap:20px;
        /* place-self: center;
        place-items: center;
        place-content: center center; */
        position: relative;
    }
    
    .singleTeacherName{
        font-family:Montserrat;
        font-size:50px;
    }

    .formLabel{
        font-family:Montserrat;
        font-size:25px;
    }

    .singleTeacherModal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400;
        background-color: white;
        border: 2px solid #000;
        box-shadow: 24;
        display:flex;
        flex-direction:column;
        justify-content:center;
        gap:20px;
        padding:20px;
    }
    
    .updateSingleTeacherForm{
        display:flex;
        flex-direction:column;
        gap:20px;
        width:50%;
    }
    
    /* create teacher form */
    .createTeacherForm{
        display:flex;
        flex-direction:column;
        gap:10px;
    }
}