@media only screen and (max-width: 600px) {
    .allClassesMainContainer{
        display:flex;
        flex-direction: column;
        gap:15px;
        position:relative;
    }

    .allClassesPageTop{
        display:flex;
        flex-direction:column;
        gap:10px;
    }

    .allClassesHeadingStyle{
        font-family:Montserrat;
        text-align:center;
        font-size:40px;
        padding:0px;
        margin:0px;
    }

    .allClassesParentModal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300;
        background-color: white;
        border: 2px solid #000;
        box-shadow: 24;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:20px;
    }

    .childModalStyle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300;
        background-color: white;
        border: 2px solid #000;
        box-shadow: 24;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:20px;
    }

    .allClassesClassName{
        font-family:Montserrat;
        font-size:22px;
        padding:0px;
        margin:0px;
        text-decoration:none;
    }

    .allClassesButtonStyle{
        cursor:pointer;
        font-family:Montserrat;
        border-radius:3;
        /* margin-bottom:30px */
    }

    /* create class form */
    .createClassFormStyle{
        display:flex;
        flex-direction:column;
        gap:10px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px){
    .allClassesMainContainer{
        display:flex;
        flex-direction: column;
        gap:15px;
        position:relative;
    }

    .allClassesPageTop{
        display:flex;
        justify-content: space-between;
    }

    .allClassesHeadingStyle{
        font-family:Montserrat;
        text-align:center;
        font-size:40px;
        padding:0px;
        margin:0px;
    }

    .allClassesParentModal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400;
        background-color: white;
        border: 2px solid #000;
        box-shadow: 24;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:20px;
    }

    .childModalStyle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300;
        background-color: white;
        border: 2px solid #000;
        box-shadow: 24;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .allClassesClassName{
        font-family:Montserrat;
        font-size:22px;
        padding:0px;
        margin:0px;
        text-decoration:none;
    }

    .allClassesButtonStyle{
        cursor:pointer;
        font-family:Montserrat;
        border-radius:3;
        /* margin-bottom:30px */
    }

    /* create class form */
    .createClassFormStyle{
        display:flex;
        flex-direction:column;
        gap:10px;
    }
}

@media only screen and (min-width: 900px){
    .allClassesMainContainer{
        display:flex;
        flex-direction: column;
        gap:15px;
        position:relative;
    }

    .allClassesPageTop{
        display:flex;
        justify-content: space-between;
    }

    .allClassesHeadingStyle{
        font-family:Montserrat;
        text-align:center;
        font-size:40px;
        padding:0px;
        margin:0px;
    }

    .allClassesParentModal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400;
        background-color: white;
        border: 2px solid #000;
        box-shadow: 24;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:20px;
    }

    .childModalStyle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300;
        background-color: white;
        border: 2px solid #000;
        box-shadow: 24;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .allClassesHeadingStyle{
        font-family:Montserrat;
        font-size:50px;
        padding:0px;
        margin:0px;
    }

    .allClassesClassName{
        font-family:Montserrat;
        font-size:22px;
        padding:0px;
        margin:0px;
        text-decoration:none;
    }

    .allClassesButtonStyle{
        cursor:pointer;
        font-family:Montserrat;
        border-radius:3;
        /* margin-bottom:30px */
    }

    /* create class form */
    .createClassFormStyle{
        display:flex;
        flex-direction:column;
        gap:10px;
    }
}